[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tomment_vim"]
	path = vim/bundle/tomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/bundle/vim-classpath"]
	path = vim/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath
